# -----------------------------------
# 1. 依存関係とビルド成果物
# -----------------------------------

*/node_modules

*/build
*/dist
*/coverage
.pnp
.pnp.js

# -----------------------------------
# 2. ログと環境情報 (機密情報)
# -----------------------------------

.env
.env.local
.env.*.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*

# -----------------------------------
# 3. エディタ/OS固有の一時ファイル
# -----------------------------------

.DS_Store

*.tsbuildinfo

.vscode/
.cursor/
.cursor-history
.cursor-logs
